
div.forum div.error {
    color: #FF0000;
    font-weight: bold;
    margin: 10px 0 20px 10px;
}

div.forum div.header div.pagination span.from {
    color: #535353;
    font-weight: bold;
}

div.forum div.header div.pagination a:hover {
    text-decoration: underline;
}

div.forum a {
    color: #005da8;
    font-weight: bold;
    text-decoration: none;
}

div.forum a:hover {
    text-decoration: underline;
}
/**********************************************************************
Tag Look
Maybe should move to geometrixx
**********************************************************************/
div.forum div.tags div.tag {
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #FFFFFF;
    float: left;
    font-size: 10px;
    margin-right: 4px;
    padding: 1px 4px;
}

div.forum div.tags div.tag.hot {
    background-color: #e38b1e;
}

div.forum div.tags div.tag.answered {
    background-color: green;
}

div.forum div.tags div.tag.unanswered {
    background-color: #c1563f;
}
/*********************************************************************/


/**********************************************************************
Attachments
Maybe should move to comments?
**********************************************************************/
div.forum div.comment-attachment {
    padding-left: 5px;
}

div.forum div.comment-attachment img{
     height: 30px;
     width: 25px;
     padding-left: 10px;
     padding-right: 5px;
     float: left;
     display: block;
}
/*********************************************************************/


/**********************************************************************
Replies, not yet available in forums.
**********************************************************************/
div.forum div.comment-replies {
    margin-top:5px;
}

div.forum div.comment-replies.comment-replies.tree {
    padding-left:55px;
}
/*********************************************************************/

/**********************************************************************
Columns Top area of a Topic or a Question, different layout then the li
**********************************************************************/
div.forum div.comment div.message div.avatar-column {
    width: 40px;
    float: left;
    padding-top: 10px;
}

div.forum div.comment div.message div.info-column  {
    float: left;
}

div.forum div.comment div.message div.detail-column  {
    float: right;
    width: 180px;
}


/*********************************************************************/

/**********************************************************************
Columns for anything in a ul.  Lists of topics, questions or comments
**********************************************************************/
div.forum div.topics ul {
    list-style: none outside none;
    padding: 0;
}

div.forum div.topics ul li {
    border-bottom: 1px solid #dddddd;
    clear: both;
    overflow: hidden;
}

/*div.forum div.topics ul li div.avatar {
    float: left;
    height: 33px;
    margin: 15px 15px 0 5px;
    overflow: hidden;
    width: 33px;
}*/

div.forum div.topic ul {
    list-style: none outside none;
    padding: 0;
}

div.forum div.topic ul li {
    border-bottom: 1px solid #dddddd;
    clear: both;
    overflow: hidden;
}

div.forum ul li div.comment div.avatar-column {
    width: 40px;
    float: left;
    padding-top: 10px;
}

div.forum ul li div.comment div.info-column  {
    float: left;
}

div.forum ul li div.comment div.info-column > p  {
    margin-top: 5px;
    margin-bottom: 5px;
}

div.forum ul li div.comment div.detail-column  {
    float: right;
    margin-right: 10px;
    height: 100%;
}

div.detail-column div.top-comment {
    font-weight: bold;
    color: white;
    background-color: green;
}

div.detail-column div.top-comment p {
    margin-bottom: 0px;
}
/*********************************************************************/


/**********************************************************************
Toolbar for editing and deleteing things for non authors
Maybe belongs up near comment
**********************************************************************/
div.forum div.topic div.toolbar-container {
    float:left;
    clear: both;
}

ul.comment-toolbar {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul.comment-toolbar li {
    display: inline;
    border-left: 2px solid;
    border-bottom: none;
    padding-left: 4px;
    padding-right: 2px;
}

ul.comment-toolbar li *{
    display: inline;
}
ul.comment-toolbar li ul {
    display: inline;
    border-bottom: none;
}


ul.comment-toolbar :first-child{
    border-left: none;
    padding-left: 0px;
}

ul.comment-toolbar input[type="submit"]{
    background: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: #005DA8;
    text-decoration: none;
}


/*************************
Pull from Merge
**************************/

div.forum div.composer input[type="checkbox"] {
    margin: 10px 0;
}

div.forum div.composer input[type="text"], div.forum div.composer textarea {
    color: #888;
    font-family: Arial, sans-serif;
    font-size: 11px;
    font-weight: normal;
    padding: 3px;
}

div.forum div.composer input[type="text"] {
    height: 14px;
    left: 0;
    top: 0;
    width: 634px;
}

div.forum div.composer .hidden {
    display: none;
}

div.forum div.composer textarea {
    height: 60px;
    left: 0;
    top: 26px;
    width: 634px;
}
