div.forum_search a {
    color: #7CA9E6;
    font-weight: bold;
    text-decoration: none;
}

div.forum_search a:hover {
    text-decoration: underline;
}

div.forum_search div.results div.pagination {
    margin-top: 20px;
}

div.forum_search div.results div.pagination div.entry {
    float: left;
    margin-right: 5px;
}

div.forum_search div.results  ul {
    list-style: none outside none;
    margin: 10px 0 0;
    padding: 0;
}

div.forum_search div.results  ul li {
    border-top: 1px solid #AAAAAA;
    padding: 5px 0 5px 5px;
}

div.forum_search div.results ul li:hover {
    background: #eee;
}

div.forum_search div.results ul li p.subject {
    margin: 0;
}

div.forum_search div.results ul li p.info {
    font-size: 12px;
    margin: 3px 0 0;
}

div.forum_search div.results ul li span.lead {
    color: #999;
}

div.forum_search div.results ul li span.forum a {
    color: #999;
    font-weight: normal;
    text-decoration: underline;
}

div.forum_search div.results ul li span.repliesCount {
    color: #999;
}
