div.forum div.topic {
	padding: 3px;
}
div.topic-post {
	background-color: white;
	padding: 10px;
}
ul.commentsList {
	border-top: 1px solid #ddd;
	margin: 0px;
}
ul.commentsList li {
	border-top: 0;
	border-bottom: 0;
	margin: 0px;
}

ul.commentsList li .message {
	border: 0;
	margin: 0px;
	padding: 10px;
}
div.forum div.topic p.message {
	overflow: hidden;
	padding-left: 5px;
}

div.forum div.topic div.message.op {
	background-color: #E9E9CC;
}

div.forum div.topic p.back {
	font-size: 11px;
	margin-bottom: 20px;
}

div.forum div.topic div.subject p {
	color: #535353;
	font-size: 18px;
	font-weight: normal;
	margin-bottom: 4px;
	padding-bottom: 10px;
	padding-left: 5px;
}

div.topic #back-to-topics {
	float: left;
}

div.topic #newtopic {
	float: right;
}

textarea.comment-text {
	width: 100%;
}
.topic-nav {
	margin-bottom: 10px;
	padding: 4px 0;
}
.topic-title {
	margin-top: 0.5em;
	line-height: 1.2em;
	font-size: 1.3em;
	font-style: bold;
	background-image: none;
	text-align: left;
}

.time {
	font-size: x-small;
}
#reply-button {
	position: fixed;
	bottom: 0;
	padding: 4px;
	/*border-top: 1px solid #005da8;
	 border-left: 1px solid #005da8;*/
	width: 40%;
	z-index: 2;
	right: 0;
	text-align: center;
	color: #fff;
	border-top-left-radius: 9px;
	box-shadow: -1px -1px 2px #999;
	background: url(/etc/designs/geometrixx-media/images/navbar.png) repeat 0 0;
}
.reply-overlay {
	position: fixed;
	top: 0;
	z-index: 3;
	background-color: white;
	width: 100%;
	padding: 4px;
	left: 0;
	box-shadow: 0px 0px 5px #999;
}
.reply-overlay textarea {
	width: 98%;
	height: 60px;
}
.numberOfPosts {
	font-size: small;
}
.mask {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	z-index: 2;
	opacity: 0.75;
}